<div class="row" ng-controller="firstRoleCtrl">
  <div class="col-md-4 col-md-offset-4">  

    <h2>Way to go, {{currentUser}}! Now we need to create your first role.</h2>  
    <p>We act very differently around friends and family than we do with business contacts and even co-workers. SECA makes it very easy to "sandbox" your online interations with people into roles. That way you can be the doting grandchild with grandma and still maintain an air of aloof superiority with your colleagues.</p>
    <p>You can create as many roles as you like, but for now let's just create one. You can call it "work" or "family" and assign a display name; that's the name that others will see when you use this role.</p>

    <form id="roleform" name="roleform" novalidate submit-attempt submit-validate="createFirstRole()">
      <div class="form-group" 
        ng-class="{'has-error': roleform.rolename.$invalid && 
          (roleform.rolename.$dirty || attributesObject.roleform.attempted)}">
        <label for="rolename">Role Name:</label>
        <input name="rolename" class="form-control" id="rolename" ng-model="newRole.roleName" required />
        <span class="help-block" 
          ng-show="roleform.rolename.$error.required && 
            (roleform.rolename.$dirty || attributesObject.roleform.attempted)">
          This is required so you can identify your role.
        </span>
      </div>
      <div class="form-group" 
        ng-class="{'has-error': roleform.displayname.$invalid && 
          (roleform.displayname.$dirty || attributesObject.roleform.attempted)}">
        <label for="displayname">Display Name:</label>
        <input name="displayname" class="form-control" id="displayname" ng-model="newRole.displayName" required />
        <span class="help-block" 
          ng-show="roleform.displayname.$error.required && 
            (roleform.displayname.$dirty || attributesObject.roleform.attempted)">
          This is the name that all your peers will see.
        </span>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Finish</button>
    </form>

  </div>
</div>